@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
}


body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    padding-top: calc(var(--index) * 1.2);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
}

.card {
    max-width: 600px;
    padding: 16px;
    background-color: #fff;
    margin: 16px;
    box-shadow: 5px 5px 15px gray;
}

.btn {
    cursor: pointer;
    padding: 8px;
}